<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <ul>
        {% if username %}
            <li>{{ username }}<a href="/auth/logout/">Вийти</a></li>
        {% else %}
            <li><a href="/auth/login">Увійти</a></li>
        {% endif %}
    </ul>
</div>
<div>
    <form action="/auth/login/" method="post">
        {% csrf_token %}
        <label for="username">Логін</label>
        <input type="text" name="username" id="username">
        <label for="password">Пароль</label>
        <input type="password" name="password" id="password">
        {% if login_error %}
            <label>{{ login_error }}</label>
        {% endif %}
        <input type="submit" value="Увійти">
        <div>
            <a href="/auth/registration/">Зареєструватися</a>
        </div>
    </form>
</div>
</body>
</html>