<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чекліст для покупців</title>
</head>
<body>
<div>
    <ul>
        {% if username %}
            <li><a href="/auth/logout/">Вийти</a></li>
        {% else %}
            <li><a href="/auth/login">Увійти</a></li>
        {% endif %}
    </ul>
</div>
<h1>Чекліст для покупців</h1>
<form action="." method="post">
    {% csrf_token %}
    {{ apartment_form }}
    <input type="submit" value="Обрати">
</form>
</body>
</html>
