<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ apartment.title }}</title>
</head>
<body>
<div>
    <ul>
        {% if username %}
            <li>{{ username }}, <a href="/auth/logout/">Вийти</a></li>
        {% else %}
            <li><a href="/auth/login">Увійти</a></li>
        {% endif %}
    </ul>
</div>
<h1>{{ apartment.title }}</h1>
{% for question in questions %}
<h3>{{ question.title }}</h3>
    <form name="question_{{ question.id }}" action="/apartments/{{ apartment.id }}/" method="post">
        {% csrf_token %}
        {% for radio in answer_form.answer %}
            <label><input name="answer" type="radio" value="{{ radio.choice_value }}" onchange="question_{{ question.id }}.submit()">{{ radio.choice_label }}</label>
        {% endfor %}
    </form>
{% endfor %}
<h2>Результат "{{ apartment.title }}"</h2>
</body>
</html>